<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false"/>
		<sectionGroup name="elmah">
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
	<connectionStrings>
		<add name="DotNetKicks" connectionString="Data Source=.\SQLEXPRESS; Database=DotNetKicks; Integrated Security=true;"/>
		<add name="DotNetKicksConnectionString1" connectionString="Data Source=THEERASER\SQLEXPRESS;Initial Catalog=DotNetKicks;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<SubSonicService defaultProvider="DotNetKicks">
		<providers>
			<clear/>
			<add name="DotNetKicks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DotNetKicks" />
		</providers>
	</SubSonicService>
	<system.web>
    <trust level="Medium"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/"></forms>
		</authentication>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="~/"/>
		</customErrors>
		<!-- SECURITY NOTE: Generate a unique machineKey for production - http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx -->
		<machineKey validationKey="E8F7FD5937A1ECB5DA3D2868FC3D3328EFDFAC1242397FA190F658BD22D38350F61739B36C436B75CA26E16805823DB2A3D54D171A5C5F5A291A41EC79ABFC12" decryptionKey="B67736063E4EEAD68A6A6906C832F66E6D5E4631EEF22A42" validation="SHA1"/>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="Kick" namespace="Incremental.Kick.Web.Controls" assembly="Incremental.Kick"/>
				<add tagPrefix="Subkismet" namespace="Subkismet.Captcha" assembly="Subkismet"/>
				<add tagPrefix="SubSonic" namespace="SubSonic" assembly="SubSonic"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls>
		</pages>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules>
		<httpHandlers>
			<add verb="*" path="*CaptchaImage.ashx" type="Subkismet.Captcha.CaptchaImageHandler, Subkismet"/>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
	</system.web>
	<elmah>
		<!-- Please see http://code.google.com/p/elmah/ for ELMAH configuration options  -->
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DotNetKicks"/>
	</elmah>
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="admin,debugger"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" compileRegex="true" xmlns="http://www.urlrewriting.net/schemas/config/2006/01">
		<rewrites>
			<add virtualUrl="^~/WebResource.axd" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/WebResource.axd" ignoreCase="true"/>
			<add virtualUrl="^~/favicon.ico" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/favicon.ico" ignoreCase="true"/>
			<add virtualUrl="^~/CaptchaImage.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CaptchaImage.ashx" ignoreCase="true"/>
			<add virtualUrl="^~/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?pagenumber=$1" ignoreCase="true"/>
			<add virtualUrl="^~/default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1" ignoreCase="true"/>
			<add virtualUrl="^~/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/whoisonline" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Community/WhoIsOnline.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/friends" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Friends.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/kicked/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/kicked/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/kicked" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/profile/edit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/EditProfile.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/profile" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Profile.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/submitted/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/SubmittedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/submitted" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/SubmittedStories.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/comments/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/CommentsMade.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/comments" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/CommentsMade.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTag.aspx?useridentifier=$1&amp;tagidentifier=$2" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTags.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/users/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Profile.aspx?useridentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/popular/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?pagenumber=$1" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
			<add virtualUrl="^~/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/rss$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/feeds/rss/noredirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx?Redirect=0" ignoreCase="true"/>
			<add virtualUrl="^~/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/MainFeed.ashx" ignoreCase="true"/>
			<add virtualUrl="^~/tags/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/TagFeed.aspx?tagidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/kickit/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/KickIt.aspx?storyid=$1&amp;iskick=$2" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/getuserstorytags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/GetUserStoryTags.aspx?storyid=$1" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/adduserstorytags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/AddUserStoryTags.aspx?storyid=$1" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/removeuserstorytag/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/RemoveUserStoryTag.aspx?storyid=$1&amp;tagid=$2" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/getpopularstories/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/GetPopularStories.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/reportasspam/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/ReportAsSpam.aspx?storyid=$1" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/viewit/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/ViewIt.aspx?storyid=$1" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/autokickit/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/Admin/SetAutoKickCount.aspx?storyid=$1&amp;autoKickCount=$2" ignoreCase="true"/>
			<add virtualUrl="^~/services/ajax/moderator/delete/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/Moderator/DeleteStory.aspx?storyid=$1" ignoreCase="true"/>
			<add virtualUrl="^~/loginswitch" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/LoginSwitch.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Login.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Logout.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/register" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Register.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/about" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/About.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/earnmoney" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/EarnMoney.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/contribute" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Contribute.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/webfeeds" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/JavaScriptFeeds.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/tools" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Tools.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/privacy" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Privacy.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/sitemap" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/SiteMap.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/docs/terms" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Terms.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/missingstory" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/MissingStory.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/search" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Search.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/forgotpassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ForgotPassword.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/resetpassword/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ResetPassword.aspx?username=$1&amp;hash=$2" ignoreCase="true"/>
			<add virtualUrl="^~/changepassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ChangePassword.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/submit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/New.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/kick" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/ViewOrAdd.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/gravatar/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Images/ViewGravitar.ashx?gravatar_id=$1&amp;size=$2" ignoreCase="true"/>
			<add virtualUrl="^~/error" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Error.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/tags/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/ViewAll.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/notauthorised" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/NotAuthorised.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/admin/stories" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Stories.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/admin/users" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Users.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/admin/hosts" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Hosts.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/admin" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Default.aspx" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryKickedFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/CategoryFeed.ashx?categoryidentifier=$1" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/(.*)/redirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Redirect.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
			<add virtualUrl="^~/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/View.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
			<add virtualUrl="^~/(.*.).{0}" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
