<?xml version="1.0" encoding="UTF-8"?><configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="jayrock">
        <section name="json.conversion.importers" type="Jayrock.Json.Conversion.ImporterListSectionHandler, Jayrock.Json"/>
        <sectionGroup name="jsonrpc">
        <section name="features" type="Jayrock.JsonRpc.Web.JsonRpcFeaturesSectionHandler, Jayrock"/>
      </sectionGroup>
    </sectionGroup>
    
    <!-- log4net conf -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    
  </configSections>
  <connectionStrings>
    <add name="DotNetKicks" connectionString="Data Source=.\SQLEXPRESS; Database=DotNetKicks; Integrated Security=true;"/>
  </connectionStrings>
  <SubSonicService defaultProvider="DotNetKicks">
    <providers>
      <clear/>
      <add name="DotNetKicks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DotNetKicks" generatedNamespace="DotNetKicks"/>
    </providers>
  </SubSonicService>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/"></forms>
    </authentication>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/"/>
    </customErrors>
    <!-- SECURITY NOTE: Generate a unique machineKey for production - http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx -->
    <machineKey validationKey="E8F7FD5937A1ECB5DA3D2868FC3D3328EFDFAC1242397FA190F658BD22D38350F61739B36C436B75CA26E16805823DB2A3D54D171A5C5F5A291A41EC79ABFC12" decryptionKey="B67736063E4EEAD68A6A6906C832F66E6D5E4631EEF22A42" validation="SHA1"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="Kick" namespace="Incremental.Kick.Web.Controls" assembly="Incremental.Kick"/>
        <add tagPrefix="Subkismet" namespace="Subkismet.Captcha" assembly="Subkismet"/>
        <add tagPrefix="SubSonic" namespace="SubSonic" assembly="SubSonic"/>
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*CaptchaImage.ashx" type="Subkismet.Captcha.CaptchaImageHandler, Subkismet"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
    </compilation>
  </system.web>
  <elmah> <!-- Please see http://code.google.com/p/elmah/ for ELMAH configuration options  -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DotNetKicks"/>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="admin,debugger"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <jayrock>
    <json.conversion.importers>
      <importer type="Incremental.Kick.Json.NullableImporter`1[System.Int32], Incremental.Kick"/>
      <importer type="Incremental.Kick.Json.NullableImporter`1[[Incremental.Kick.Common.Enums.StoryListSortBy, Incremental.Kick]], Incremental.Kick"/>
    </json.conversion.importers>
    <jsonrpc>
      <features>
        <add name="rpc" type="Jayrock.JsonRpc.Web.JsonRpcExecutive, Jayrock"/>
        <add name="getrpc" type="Jayrock.JsonRpc.Web.JsonRpcGetProtocol, Jayrock"/>
        <add name="proxy" type="Jayrock.JsonRpc.Web.JsonRpcProxyGenerator, Jayrock"/>
        <add name="pyproxy" type="Jayrock.JsonRpc.Web.JsonRpcPythonProxyGenerator, Jayrock"/>
        <add name="help" type="Jayrock.JsonRpc.Web.JsonRpcHelp, Jayrock"/>
        <add name="test" type="Jayrock.JsonRpc.Web.JsonRpcTester, Jayrock"/>
      </features>
    </jsonrpc>
  </jayrock>
  
  <urlrewritingnet rewriteOnlyVirtualUrls="true" compileRegex="true" xmlns="http://www.urlrewriting.net/schemas/config/2006/01">
    <rewrites>

      <add virtualUrl="^~/(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$1.ashx" ignoreCase="true"/>
      <add virtualUrl="^~/(.*).axd" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$1.axd" ignoreCase="true"/>
      <add virtualUrl="^~/favicon.ico" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/favicon.ico" ignoreCase="true"/>

      <add virtualUrl="^~/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1" ignoreCase="true"/>
      <add virtualUrl="^~/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/whoisonline" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Community/KickSpy.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/spy" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Community/KickSpy.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/zeitgeist/(.*)/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Zeitgeist.aspx?year=$1&amp;month=$2&amp;day=$3" ignoreCase="true"/>
      <add virtualUrl="^~/zeitgeist/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Zeitgeist.aspx?year=$1&amp;month=$2" ignoreCase="true"/>
      <add virtualUrl="^~/zeitgeist/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Zeitgeist.aspx?year=$1" ignoreCase="true"/>
      <add virtualUrl="^~/zeitgeist" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Zeitgeist.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/chats/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Chats/Room.aspx?chatid=$1" ignoreCase="true"/>
      <add virtualUrl="^~/chats" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Chats/List.aspx" ignoreCase="true"/>


      <add virtualUrl="^~/users/(.*)/friends/kicked/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/FriendsKickedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/friends/kicked/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/FriendsKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/friends/kicked" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/FriendsKickedStories.aspx?useridentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/users/(.*)/friends/submitted/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/FriendsSubmittedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/friends/submitted/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/FriendsSubmittedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/friends/submitted" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/FriendsSubmittedStories.aspx?useridentifier=$1" ignoreCase="true"/>
      
      <add virtualUrl="^~/users/(.*)/friends" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Friends.aspx?useridentifier=$1" ignoreCase="true"/>      
      
      <add virtualUrl="^~/users/(.*)/kicked/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/kicked/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/kicked" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1" ignoreCase="true"/>
      
      <add virtualUrl="^~/users/(.*)/profile/edit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/EditProfile.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/profile" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Profile.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/submitted/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/SubmittedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/submitted" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/SubmittedStories.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/comments/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/CommentsMade.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/comments" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/CommentsMade.aspx?useridentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/users/(.*)/tags/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTag.aspx?useridentifier=$1&amp;tagidentifier=$2&amp;pagenumber=$3" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTag.aspx?useridentifier=$1&amp;tagidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTags.aspx?useridentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/users/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/KickedStories.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Profile.aspx?useridentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/upcoming/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
      
      <add virtualUrl="^~/rss$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/rss/noredirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx?Redirect=0" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/MainFeed.ashx" ignoreCase="true"/>

      <add virtualUrl="^~/tags/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/TagFeed.aspx?tagidentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/loginswitch" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/LoginSwitch.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Login.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Logout.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/register" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Register.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/about" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/About.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/docs/earnmoney" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/EarnMoney.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/contribute" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Contribute.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/webfeeds" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/JavaScriptFeeds.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/tools" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Tools.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/privacy" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Privacy.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/sitemap" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/SiteMap.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/docs/terms" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Terms.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/missingstory" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/MissingStory.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/search?q=(.*)&amp;user=(.*)&amp;page=(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Search.aspx?q=$1&amp;user=$2&amp;page=$3" ignoreCase="true"/>
      <add virtualUrl="^~/search" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Search.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/forgotpassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ForgotPassword.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/resetpassword/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ResetPassword.aspx?username=$1&amp;hash=$2" ignoreCase="true"/>
      <add virtualUrl="^~/changepassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ChangePassword.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/changeemail" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ChangeEmail.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/verifyemail/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/VerifyEmail.aspx?hash=$1" ignoreCase="true"/>
      <add virtualUrl="^~/submit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/New.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/kick" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/ViewOrAdd.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/gravatar/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Images/ViewGravitar.ashx?gravatar_id=$1&amp;size=$2" ignoreCase="true"/>

      <add virtualUrl="^~/error" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Error.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/tags/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/ViewAll.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/notauthorised" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/NotAuthorised.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/stories" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Stories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/reservedusernames" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/ReservedUsernames.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/blockedreferrals" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/BlockedReferrals.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/blockedurlpatterns" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/BlockedUrlPatterns.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/users" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Users.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/hosts" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Hosts.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/categories" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Categories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/search" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Search.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/chats" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Chats.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Default.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/api/key" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Api/GenerateKey.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/api" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Api/Default.aspx" ignoreCase="true"/>
      
      <add virtualUrl="^~/(.*)/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryKickedFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/CategoryFeed.ashx?categoryidentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/(.*)/(.*)/redirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Redirect.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/View.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*.).{0}" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1" ignoreCase="true"/>

    </rewrites>
  </urlrewritingnet>


  <log4net>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\\App_Data\\log4net\CurrentLog.txt"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Date"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true"/>
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%M] - %message%newline"/>
      </layout>
    </appender>

    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true"/>
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%M] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <!-- <appender-ref ref="AspNetTraceAppender" /> -->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net> 
  
</configuration>