body { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }
input, select, textarea{  }

.TODO 
{
	background-color: yellow;
	width:100%;	
	padding: 4px 4px 4px 4px;
	
}

.Hidden { display: none; visibility: hidden; }
.Visible { visibility: visible; }

.Highlight { background-color: #FFFDDB; padding: 4; font-size: 1.1em;}


.user { padding: padding: 3px 0 0 0; white-space: nowrap; }
.user a { text-decoration: none; }
.bannedUser a { color: Red; font-size: smaller; }
.newUser a { color: Green; }

.userGravatar {
	border: 1px solid #ddd;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 1px;
	padding: 1px;
}

#shoutList { }
.shout { padding: 5px; font-size: small; }
.shoutMessage { background-color: #eee; padding: 4px; overflow: hidden;}
