<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DotNetKicks" connectionString="Data Source=.\SQLEXPRESS; Database=DotNetKicks; Integrated Security=true;"/>
  </connectionStrings>
  <SubSonicService defaultProvider="DotNetKicks">
    <providers>
      <clear/>
      <add name="DotNetKicks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DotNetKicks" generatedNamespace="DotNetKicks"/>
    </providers>
  </SubSonicService>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/"></forms>
    </authentication>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/" />
    </customErrors>
    <!-- SECURITY NOTE: Generate a unique machineKey for production - http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx -->
    <machineKey validationKey='E8F7FD5937A1ECB5DA3D2868FC3D3328EFDFAC1242397FA190F658BD22D38350F61739B36C436B75CA26E16805823DB2A3D54D171A5C5F5A291A41EC79ABFC12'   decryptionKey='B67736063E4EEAD68A6A6906C832F66E6D5E4631EEF22A42'   validation='SHA1'/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="Kick" namespace="Incremental.Kick.Web.Controls" assembly="Incremental.Kick"/>
        <add tagPrefix="Subkismet" namespace="Subkismet.Captcha" assembly="Subkismet"/>
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>

      <!-- 
          Uncomment the entries below if error mail reporting 
          and filtering is desired.
      -->
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
      <!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>-->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*CaptchaImage.ashx" type="Subkismet.Captcha.CaptchaImageHandler, Subkismet" />
      <!-- 
          This entry provides the UI for the error log at
          elmah.axd below the application path. For example,
          if your domain is www.example.com and your application
          is at the root, then you can view the error log by
          visiting the following URL:
          
          http://www.example.com/elmah.axd
          
          IMPORTANT! To secure this location, consult the
          following notes:
          
          http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
      -->

      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <elmah>
    <!--
        Use to log errors to Microsoft SQL Server 2000 or 2005
        using ASP.NET 2.0. Set value of connectionStringName attribute
        to the name of the connection string settings to use from
        the <connectionStrings> section.
    -->
        
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DotNetKicks" />

    <!--
            Use to send error reports by e-mail and adjust the attributes
            according to settings desired. Note that only the from and
            to attributes are required. The rest are optional and may
            be removed. If the SMTP server does not require authentication,
            you MUST remove the userName and password attributes or
            set them to empty values (resulting in zero-length strings).
            If you are using ELMAH compiled for .NET Framework 1.x, then
            the to attribute may contain multiple recipient addresses,
            each of which must be delimited by a semi-colon(;). If you are 
            using ELMAH compiled for .NET Framework 2.0 or later, then the
            to attribute may contain multiple recipient addresses,
            each of which must be delimited by a comma (,).

        <errorMail 
            from="elmah@example.com" 
            to="admin@example.com" 
            subject="..."
            async="true|false"
            smtpPort="25"
            smtpServer="smtp.example.com" 
            userName="johndoe"
            password="secret" />
        -->

    <!--
            Use to prevent errors from being mailed or logged based on
            assertions/conditions provided under the <test> element.
            The example below will filter errors of type HttpException
            where the status code is 404 (in other words, where the
            resource was not found).

        <errorFilter>
            <test>
                <equal binding="HttpStatusCode" value="404" valueType="Int32" />
            </test>
        </errorFilter>
        -->

  </elmah>
  
  <urlrewritingnet rewriteOnlyVirtualUrls="true" compileRegex="true" xmlns="http://www.urlrewriting.net/schemas/config/2006/01">
    <rewrites>

      <add virtualUrl="^~/WebResource.axd" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/WebResource.axd" ignoreCase="true"/>
      <add virtualUrl="^~/favicon.ico" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/favicon.ico" ignoreCase="true"/>
      <add virtualUrl="^~/CaptchaImage.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CaptchaImage.ashx" ignoreCase="true"/>

      <add virtualUrl="^~/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx?storyListSortBy=$1" ignoreCase="true"/>
      <add virtualUrl="^~/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Home.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/users/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/View.aspx?useridentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTag.aspx?useridentifier=$1&amp;tagidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ViewTags.aspx?useridentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/users/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/View.aspx?useridentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/upcoming/popular/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx?storyListSortBy=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/popular" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Upcoming.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" ignoreCase="true"/>
      <add virtualUrl="^~/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/NewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx" ignoreCase="true"/>
      
      <add virtualUrl="^~/rss$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/rss/noredirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx?Redirect=0" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/MainFeed.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/MainFeed.ashx" ignoreCase="true"/>

      <add virtualUrl="^~/tags/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/TagFeed.aspx?tagidentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/services/ajax/kickit/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/KickIt.aspx?storyid=$1&amp;iskick=$2" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/getuserstorytags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/GetUserStoryTags.aspx?storyid=$1" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/adduserstorytags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/AddUserStoryTags.aspx?storyid=$1" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/removeuserstorytag/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/RemoveUserStoryTag.aspx?storyid=$1&amp;tagid=$2" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/getpopularstories/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/GetPopularStories.aspx?storyListSortBy=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/reportasspam/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/ReportAsSpam.aspx?storyid=$1" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/viewit/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/ViewIt.aspx?storyid=$1" ignoreCase="true"/>

      <add virtualUrl="^~/services/ajax/autokickit/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/Admin/SetAutoKickCount.aspx?storyid=$1&amp;autoKickCount=$2" ignoreCase="true"/>
      <add virtualUrl="^~/services/ajax/moderator/delete/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Ajax/Moderator/DeleteStory.aspx?storyid=$1" ignoreCase="true"/>

      <add virtualUrl="^~/loginswitch" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/LoginSwitch.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Login.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Logout.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/register" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/Register.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/about" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/About.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/docs/earnmoney" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/EarnMoney.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/contribute" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Contribute.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/webfeeds" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/JavaScriptFeeds.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/tools" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Tools.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/privacy" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Privacy.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/docs/sitemap" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/SiteMap.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/docs/terms" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Terms.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/search" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Search.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/forgotpassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ForgotPassword.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/resetpassword/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ResetPassword.aspx?username=$1&amp;hash=$2" ignoreCase="true"/>
      <add virtualUrl="^~/changepassword" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/ChangePassword.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/submit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/New.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/kick" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/ViewOrAdd.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/error" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Docs/Error.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/tags/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/tags/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/View.aspx?tagidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/tags" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Tag/ViewAll.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/notauthorised" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/User/NotAuthorised.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/stories" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Stories.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/users" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Users.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin/hosts" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Hosts.aspx" ignoreCase="true"/>
      <add virtualUrl="^~/admin" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Admin/Default.aspx" ignoreCase="true"/>

      <add virtualUrl="^~/(.*)/find/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/find/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/find" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/upcoming" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" ignoreCase="true"/>

      <add virtualUrl="^~/(.*)/page/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/feeds/rss" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/Rss/CategoryKickedFeed.aspx?categoryidentifier=$1" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/feeds/js" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Services/Feeds/JavaScript/CategoryFeed.ashx?categoryidentifier=$1" ignoreCase="true"/>
      
      <add virtualUrl="^~/(.*)/(.*)/redirect" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/Redirect.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Story/View.aspx?categoryidentifier=$1&amp;storyidentifier=$2" ignoreCase="true"/>
      <add virtualUrl="^~/(.*.).{0}" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1" ignoreCase="true"/>

    </rewrites>
  </urlrewritingnet>

  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="admin,debugger"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
