/*
   martedì 16 ottobre 200717.18.03
   User: 
   Server: ACER2023
   Database: DotNetKicks
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Kick_User ADD
	ShowEmoticons bit NOT NULL CONSTRAINT DF_Kick_User_ShowEmoticons DEFAULT 1
GO
COMMIT
