<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="DotNetKicks" connectionString="Data Source=.\SQLEXPRESS; Database=DotNetKicks_Test; Integrated Security=true;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <SubSonicService defaultProvider="DotNetKicks">
    <providers>
      <clear/>
      <add name="DotNetKicks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DotNetKicks" generatedNamespace="DotNetKicks"/>
    </providers>
  </SubSonicService>
</configuration>
