USE DotNetKicks

GO

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Kick_User ADD
	ShowEmoticons bit NOT NULL CONSTRAINT DF_Kick_User_ShowEmoticons DEFAULT 1
GO
COMMIT
