<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DotNetKicks" connectionString="Data Source=.\SQLEXPRESS; Database=DotNetKicks; Integrated Security=true;"/>
  </connectionStrings>
  <SubSonicService defaultProvider="DotNetKicks">
    <providers>
      <clear/>
      <add name="DotNetKicks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DotNetKicks" generatedNamespace="DotNetKicks"/>
    </providers>
  </SubSonicService>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/"></forms>
    </authentication>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/" />
    </customErrors>
    <!-- SECURITY NOTE: Generate a unique machineKey for production - http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx -->
    <machineKey validationKey='E8F7FD5937A1ECB5DA3D2868FC3D3328EFDFAC1242397FA190F658BD22D38350F61739B36C436B75CA26E16805823DB2A3D54D171A5C5F5A291A41EC79ABFC12'   decryptionKey='B67736063E4EEAD68A6A6906C832F66E6D5E4631EEF22A42'   validation='SHA1'/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="Kick" namespace="Incremental.Kick.Web.Controls" assembly="Incremental.Kick"/>
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="some@domain.com">
        <network host="mail.domain.com" password="123" userName="some@domain.com"/>
      </smtp>
    </mailSettings>
  </system.net>

  <rewriter>
    <unless url="^~/static">
      <rewrite url="^~/WebResource.axd" to="~/WebResource.axd" processing="stop"/>
      <rewrite url="^~/page/(.*)" to="~/Pages/Home.aspx?pagenumber=$1" processing="stop"/>
      <rewrite url="^~/default.aspx" to="~/Pages/Home.aspx" processing="stop"/>

      <rewrite url="^~/popular/(.*)/page/(.*)" to="~/Pages/Home.aspx?storyListSortBy=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/popular/(.*)" to="~/Pages/Home.aspx?storyListSortBy=$1" processing="stop"/>
      <rewrite url="^~/popular" to="~/Pages/Home.aspx" processing="stop"/>

      <rewrite url="^~/users/(.*)/page/(.*)" to="~/Pages/User/View.aspx?useridentifier=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/users/(.*)/rss" to="~/Services/Feeds/Rss/UserKickedStoriesFeed.aspx?useridentifier=$1" processing="stop"/>
      <rewrite url="^~/users/(.*)/tags/(.*)" to="~/Pages/User/ViewTag.aspx?useridentifier=$1&amp;tagidentifier=$2" processing="stop"/>
      <rewrite url="^~/users/(.*)/tags" to="~/Pages/User/ViewTags.aspx?useridentifier=$1" processing="stop"/>
      <rewrite url="^~/users/(.*)" to="~/Pages/User/View.aspx?useridentifier=$1" processing="stop"/>

      <rewrite url="^~/find/page/(.*)" to="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" processing="stop"/>
      <rewrite url="^~/upcoming/page/(.*)" to="~/Pages/Category/ViewNewStories.aspx?pagenumber=$1" processing="stop"/>
      <rewrite url="^~/find/rss" to="~/Services/Feeds/Rss/NewStories.aspx" processing="stop"/>
      <rewrite url="^~/upcoming/rss" to="~/Services/Feeds/Rss/NewStories.aspx" processing="stop"/>
      <rewrite url="^~/find" to="~/Pages/Category/ViewNewStories.aspx" processing="stop"/>
      <rewrite url="^~/upcoming" to="~/Pages/Category/ViewNewStories.aspx" processing="stop"/>

      <rewrite url="^~/feeds/rss" to="~/Services/Feeds/Rss/MainFeed.aspx" processing="stop"/>
      <rewrite url="^~/feeds/js" to="~/Services/Feeds/JavaScript/MainFeed.ashx" processing="stop"/>

      <rewrite url="^~/services/ajax/kickit/(.*)/(.*)" to="~/Services/Ajax/KickIt.aspx?storyid=$1&amp;iskick=$2" processing="stop"/>
      <rewrite url="^~/services/ajax/getuserstorytags/(.*)" to="~/Services/Ajax/GetUserStoryTags.aspx?storyid=$1" processing="stop"/>
      <rewrite url="^~/services/ajax/adduserstorytags/(.*)" to="~/Services/Ajax/AddUserStoryTags.aspx?storyid=$1" processing="stop"/>
      <rewrite url="^~/services/ajax/removeuserstorytag/(.*)/(.*)" to="~/Services/Ajax/RemoveUserStoryTag.aspx?storyid=$1&amp;tagid=$2" processing="stop"/>
      <rewrite url="^~/services/ajax/getpopularstories/(.*)/(.*)" to="~/Services/Ajax/GetPopularStories.aspx?storyListSortBy=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/services/ajax/reportasspam/(.*)" to="~/Services/Ajax/ReportAsSpam.aspx?storyid=$1" processing="stop"/>
      <rewrite url="^~/services/ajax/viewit/(.*)" to="~/Services/Ajax/ViewIt.aspx?storyid=$1" processing="stop"/>

      <rewrite url="^~/services/ajax/autokickit/(.*)/(.*)" to="~/Services/Ajax/Admin/SetAutoKickCount.aspx?storyid=$1&amp;autoKickCount=$2" processing="stop"/>
      <rewrite url="^~/services/ajax/moderator/delete/(.*)" to="~/Services/Ajax/Moderator/DeleteStory.aspx?storyid=$1" processing="stop"/>

      <rewrite url="^~/loginswitch" to="~/Pages/User/LoginSwitch.aspx" processing="stop"/>

      <rewrite url="^~/login" to="~/Pages/User/Login.aspx" processing="stop"/>
      <rewrite url="^~/logout" to="~/Pages/User/Logout.aspx" processing="stop"/>
      <rewrite url="^~/register" to="~/Pages/User/Register.aspx" processing="stop"/>
      <rewrite url="^~/docs/about" to="~/Pages/Docs/About.aspx" processing="stop"/>

      <rewrite url="^~/docs/earnmoney" to="~/Pages/Docs/EarnMoney.aspx" processing="stop"/>
      <rewrite url="^~/docs/contribute" to="~/Pages/Docs/Contribute.aspx" processing="stop"/>
      <rewrite url="^~/docs/webfeeds" to="~/Pages/Docs/JavaScriptFeeds.aspx" processing="stop"/>
      <rewrite url="^~/docs/tools" to="~/Pages/Docs/Tools.aspx" processing="stop"/>
      <rewrite url="^~/docs/privacy" to="~/Pages/Docs/Privacy.aspx" processing="stop"/>
      <rewrite url="^~/docs/sitemap" to="~/Pages/Docs/SiteMap.aspx" processing="stop"/>

      <rewrite url="^~/docs/terms" to="~/Pages/Docs/Terms.aspx" processing="stop"/>
      <rewrite url="^~/search" to="~/Pages/Story/Search.aspx" processing="stop"/>
      <rewrite url="^~/forgotpassword" to="~/Pages/User/ForgotPassword.aspx" processing="stop"/>
      <rewrite url="^~/resetpassword/(.*)/(.*)" to="~/Pages/User/ResetPassword.aspx?username=$1&amp;hash=$2" processing="stop"/>
      <rewrite url="^~/changepassword" to="~/Pages/User/ChangePassword.aspx" processing="stop"/>
      <rewrite url="^~/submit" to="~/Pages/Story/New.aspx" processing="stop"/>
      <rewrite url="^~/kick" to="~/Pages/Story/ViewOrAdd.aspx" processing="stop"/>

      <rewrite url="^~/error" to="~/Pages/Docs/Error.aspx" processing="stop"/>

      <rewrite url="^~/tags/(.*)/page/(.*)" to="~/Pages/Tag/View.aspx?tagidentifier=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/tags/(.*)" to="~/Pages/Tag/View.aspx?tagidentifier=$1" processing="stop"/>
      <rewrite url="^~/tags" to="~/Pages/Tag/ViewAll.aspx" processing="stop"/>

      <rewrite url="^~/(.*)/find/page/(.*)" to="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/(.*)/upcoming/page/(.*)" to="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/(.*)/find/rss" to="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" processing="stop"/>
      <rewrite url="^~/(.*)/upcoming/rss" to="~/Services/Feeds/Rss/CategoryNewFeed.aspx?categoryidentifier=$1" processing="stop"/>
      <rewrite url="^~/(.*)/find" to="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" processing="stop"/>
      <rewrite url="^~/(.*)/upcoming" to="~/Pages/Category/ViewNewStories.aspx?categoryidentifier=$1" processing="stop"/>

      <rewrite url="^~/(.*)/page/(.*)" to="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1&amp;pagenumber=$2" processing="stop"/>
      <rewrite url="^~/(.*)/rss" to="~/Services/Feeds/Rss/CategoryKickedFeed.aspx?categoryidentifier=$1" processing="stop"/>
      <rewrite url="^~/(.*)/feeds/rss" to="~/Services/Feeds/Rss/CategoryKickedFeed.aspx?categoryidentifier=$1" processing="stop"/>
      <rewrite url="^~/(.*)/feeds/js" to="~/Services/Feeds/JavaScript/CategoryFeed.ashx?categoryidentifier=$1" processing="stop"/>

      <rewrite url="^~/(.*)/(.*)/redirect" to="~/Pages/Story/Redirect.aspx?categoryidentifier=$1&amp;storyidentifier=$2" processing="stop"/>
      <rewrite url="^~/(.*)/(.*)" to="~/Pages/Story/View.aspx?categoryidentifier=$1&amp;storyidentifier=$2" processing="stop"/>
      <rewrite url="^~/(.*.).{0}" to="~/Pages/Category/ViewKickedStories.aspx?categoryidentifier=$1" processing="stop"/>
    </unless>
  </rewriter>
</configuration>
