
body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
input, select, textarea
{
}

.TODO
{
	background-color: yellow;
	width: 100%;
	padding: 4px 4px 4px 4px;
}

.Hidden
{
	display: none;
	visibility: hidden;
}
.Visible
{
	visibility: visible;
}

.Highlight
{
	background-color: #FFFDDB;
	padding: 4;
	font-size: 1.1em;
}


/* ================ search ===================== */
.searchResultsSummary
{
	font-size: 0.9em;
	background-color: #E7F0F7;
	padding: 2px;
	text-align: right;
}

.searchOnlyMyStories

{
font-size: 0.85em;
}

.searchButton
{
margin: 10 0 0 0px;
}

.searchNoResults
{
font-size: 1.2em;
padding: 10 0 10 5px;
}


/* ================ username display ================== */
.user
{
	padding: padding: 3px 0 0 0;
	white-space: nowrap;
}
.user a
{
	text-decoration: none;
}
.bannedUser a
{
	color: Red;
	font-size: smaller;
}
.newUser a
{
	color: Green;
}
.userGravatar
{
	border: 1px solid #ddd;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 1px;
	padding: 1px;
}

/* ================ shout box ================== */
#shoutList
{
}
.shout
{
	padding: 5px;
	font-size: small;
}
.shoutMessage
{
	background-color: #eee;
	padding: 4px;
	overflow: hidden;
	width: 300px;
}

/* ================ spy ================== */
#userActionList {}
.userAction { padding: 4px; }
.userActionKick { background-color: #ecffec; }
.userActionUnKick { background-color: #ffeeec; }
.userActionComment { background-color: #ecf7ff; }
.userActionStorySubmission { background-color: #ddebff; }
.userActionStoryPromotion { background-color: #009900; color: White; }
.userActionStoryPromotion a { color: White; font-weight: bold; }
.userActionTag {}
.userActionShout { background-color: #fcfae1; }
.userActionUserRegistration { background-color: #9efe9e; }

/* ================ pagination ================== */
.Paging
{
	padding: 2px;
}

.Paging ul
{
	margin: 0;
	padding: 0;
	text-align: right; /*Set to "right" or "left" to align pagination interface*/
	font-size: 16px;
}

.Paging li
{
	margin: 2px;
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
}

.Paging a, .Paging a:visited
{
	padding: 0 5px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
}

.Paging a:hover, .Paging a:active
{
	border: 1px solid #2b66a5;
	color: #000;
	background-color: #FFFF80;
}

.Paging a.CurrentPage
{
	background-color: #2e6ab1;
	color: #FFF !important;
	border-color: #2b66a5;
	font-weight: bold;
	cursor: default;
}

.Paging a.disablelink, .Paging a.disablelink:hover
{
	background-color: white;
	cursor: default;
	color: #929292;
	border-color: #929292;
	font-weight: normal !important;
}

.Paging a.PagingNext
{
	font-weight: bold;
}
.Paging a.PagingPrevious
{
	font-weight: bold;
}

/* =========== template.css original stuff below ================= */

body { margin: 0; padding: 0; background: #BBB;  }

a { color: #0066CC; }

body, td, th, h3, textarea, input, select {
	font-family: Sans-Serif, Verdana;
	font-size:  .85em;
}

#LoadingSpan 
{
	background-color: #CC3333;
	position:absolute;
	top:0;
	right:0;
	color: White;
	padding: 2px;
}

.smallText { font-size: small; }

#PageContainer {
	position: relative;
	text-align: left;
	background: #AAA;
	margin: 0 auto;
	padding: 0 0px 0 0px;
	min-width: 600px;
	max-width: 100%;
}
