body { margin: 0; padding: 0; background: #BBB;  }

a { color: #0066CC; }

body, td, th, h3, textarea, input, select {
	font-family: Sans-Serif, Verdana;
	font-size:  .85em;
}

#LoadingSpan 
{
	background-color: #CC3333;
	position:absolute;
	top:0;
	right:0;
	color: White;
	padding: 2px;
}

.smallText { font-size: small; }

#wrap {
	position: relative;
	text-align: left;
	background: #AAA;
	margin: 0 auto;
	padding: 0 0px 0 0px;
	min-width: 600px;
	max-width: 100%;
}
