<?xml version="1.0" standalone="yes"?>
<Configuration>
  <Database_KickConnectionString>Data Source=(local);Initial Catalog=Incremental.Kick.OLD;Integrated Security=SSPI;</Database_KickConnectionString>
  <!--<Database_KickConnectionString>Data Source=DEDF6\SQLEXPRESS;Initial Catalog=Incremental.Kick;Integrated Security=SSPI;</Database_KickConnectionString>-->

</Configuration>