<!--<ccnetconfig><configurationVersion>1.3</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="cc-config">
    <sourcecontrol type="svn">
      <trunkUrl>http://dotnetkicks.googlecode.com/svn/trunk/DotNetKicks/CCNET</trunkUrl>
    </sourcecontrol>
    <triggers>
      <intervalTrigger seconds="3600" />
    </triggers>
    <tasks>
      <exec executable="CopyConfigFile.bat" />
    </tasks>
  </project>
  <project name="DotNetKicks">
    <sourcecontrol type="svn">
      <trunkUrl>http://dotnetkicks.googlecode.com/svn/trunk/</trunkUrl>
    </sourcecontrol>
    <triggers>
      <intervalTrigger name="IntervalTrigger" seconds="3600" />
    </triggers>
    <tasks>
      <msbuild>
        <projectFile>DotNetKicks\DotNetKicks.msbuild</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Debug</buildArgs>
        <targets>BuildAll</targets>
        <logger>..\..\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
      <merge>
        <files>
          <file>DotNetKicks\mbunit-results.xml</file>
          <file>DotNetKicks\fxcop-results.xml</file>
        </files>
      </merge>
    </tasks>
    <externalLinks>
      <externalLink name="DotNetKicks" url="http://dotnetkicks.com/" />
      <externalLink name="Project website" url="http://dotnetkicks.googlecode.com/" />
    </externalLinks>
  </project>
</cruisecontrol>