<!--<ccnetconfig><configurationVersion>1.3</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="DotNetKicks">
    <sourcecontrol type="svn">
      <trunkUrl>http://dotnetkicks.googlecode.com/svn/trunk/</trunkUrl>
    </sourcecontrol>
    <triggers>
      <intervalTrigger name="IntervalTrigger" seconds="60" />
    </triggers>
    <tasks>
      <msbuild>
        <projectFile>DotNetKicks\DotNetKicks.sln</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <logger>..\..\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
    </tasks>
  </project>
</cruisecontrol>