<!--<ccnetconfig><configurationVersion>1.3</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="cc-config">
    <sourcecontrol type="svn">
      <trunkUrl>http://dotnetkicks.googlecode.com/svn/trunk/DotNetKicks/CCNET</trunkUrl>
    </sourcecontrol>
    <triggers>
      <intervalTrigger seconds="3600" />
    </triggers>
    <tasks>
      <exec executable="..\..\CopyConfigFile.bat">
        <baseDirectory>..\..</baseDirectory>
      </exec>
    </tasks>
  </project>
  <project name="DotNetKicks">
    <sourcecontrol type="svn">
      <trunkUrl>http://dotnetkicks.googlecode.com/svn/trunk/</trunkUrl>
    </sourcecontrol>
    <triggers>
      <intervalTrigger name="IntervalTrigger" seconds="3600" />
    </triggers>
    <tasks>
      <msbuild>
        <projectFile>DotNetKicks\DotNetKicks.sln</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <logger>..\..\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
    </tasks>
  </project>
</cruisecontrol>