#LoadingIndicator
{
	display: none;
	visibility: hidden;
	background-color: #CC3333;
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
	padding: 2px;
}
/************************* header content *************************/
#HeaderContainer
{
	background-color: #83acca;
	padding: 10px 15px 5px 15px;
	min-height: 30px;
}
/* site title */
#HeaderContainer h1
{
	display: inline;
}
#HeaderContainer h1 a
{
	color: #ffffff;
	text-decoration: none;
}
/* site tag line */
#HeaderContainer h2
{
	padding-left: 5px;
	display: inline;
	font-size: smaller;
	color: #ffffff;
}
/* navigation links in header area */
#HeaderNavigation
{
	display: inline;
	position: relative;
	top: -30px;
	float: right;
	color: #ffffff;
}
#HeaderNavigation ul
{
	margin-left: 0;
	padding-left: 0;
	display: inline;
}
#HeaderNavigation ul li
{
	font-weight: bold;
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 5px 5px 0px;
	list-style: none;
	display: inline;
}
#HeaderNavigation ul li a
{
	color: #ffffff;
	text-decoration: none;
}
/* breadcrumb trail home > opensource > dotnetkicks */
#BreadcrumbNavigation
{
	padding: 2px 15px 2px 15px;
	background-color: #a3c84e;
	color: #ffffff;
}
#BreadcrumbNavigation ul
{
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}
#BreadcrumbNavigation ul li
{
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}
#BreadcrumbNavigation ul li a
{
	color: #ffffff;
	text-decoration: none;
}
/* auto insert the >> character */
#BreadcrumbNavigation ul li:before
{
	content: "\0020 \0020 \0020 \00BB \0020";
	color: #ffffff;
}
/* except for first bullet, put whitespace there */
#BreadcrumbNavigation ul li.first:before
{
	content: " ";
}
/************************* main body content *************************/

/*********************** general items ******************************/
body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Sans-Serif, Verdana;
	font-size: .85em;
}
