<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <webUI>
    <webUIConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      categoryCacheDurationInSeconds="1800" 
      categoryStoryListCacheDurationInSeconds="60" 
      categoryStoryCountCacheDurationInSeconds="60"
      storyCacheDurationInSeconds="60"

      userProfileCacheDurationInSeconds="3" 
      showGoogleAds="true"
      >
    </webUIConfig>
  </webUI>
</configuration>
