body {
    font-family: arial;
    font-size: 0.85em;
    margin: 0;
}
a:visited {
    color: #606060;
}
h1 {
    font-size: 2em;
    padding: 0.5em 0.5em 0 0.5em;
}
h2 {
    font-size: 1.5em;
    background-color: black;
    color: #FFF;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.5em;
}
h3 a {
    text-decoration: none;
}
h3 a:hover {
    text-decoration: underline;
}
.column {
    padding: 0 1em;
    float: left;
    width: 29%;
}
.kicks {
    color: #008800;
    font-weight: bold;
}
#FrontPage, #Popular {
    border-right: solid 2px #CCC;
}
.loading {
    background-image: url(images/loading.gif);
    background-repeat: no-repeat;
    padding-top: 20px;
}
.alive {
    color: #FF0000;
}
.header {
    margin: 0 1em;
}
#AjaxAni {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 41px;
    height: 39px;
    background-image: url(images/ajax.gif);
    background-repeat: no-repeat;
    display: none;
}
